html {
  font-size: 62.5%;
  body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    #wrap {
      width: 100%;
      #content_box {
        width: 800px;
        background: rgb(255, 255, 255);
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
        header {
          h1{
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            padding-top: 40px;
          }
        }
        // 취소선 클래스 생성
        .line_through {
          color: rgb(182, 182, 182);
          text-decoration: line-through;
        }

        main {
          .list_cover {
            padding: 40px;
            position: relative;
            display: flex;
            align-items: center;
            #list_write {
              width: 100%;
              height: 40px;
              font-size: 2rem;
              font-weight: 700;
              letter-spacing: -1px;
              padding: 10px;
              background: #d9d9d9;
            }
            .list_add {
              width: 50px;
              height: 41px;
              background: rgb(123, 123, 223);
              cursor: pointer;
              i {
                font-size: 1.8rem;
              }
            }
          }

          .list_view {
            width: 100%;
            padding: 40px;
            padding-top: 0;
            .form_check_cover {
              padding-left: 0;
              .form-check {
                background: #d3d3d3;
                padding: 10px 10px 10px 40px;
                font-size: 1.8rem;
                font-weight: 700;
                position: relative;
                .btn-close {
                  position: absolute;
                  right: 10px;
                }
              }
            }
          }

        }

        footer {
          padding-bottom: 20px;
          padding-right: 40px;
          text-align: right;
          .btn {
            font-size: 2rem;
            background: #e67171;
            color: #fff;
          }
        }


      }
    }

  }
}